Log In 

<form action="<%= session_url %>" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" value="">
  <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" value="">
  <br>
  <input type="submit" name="submit_button" value="Log In">
  
  <h5 style="color:Red;" >
  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
  </h5>
</form>